body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}
.menu {
  position: fixed;
  top: 10px;
  left: 10px;
  background-color: #ccc;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 4px;
  z-index: 1000;
  font-size: 16px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 240px; 
  background-color: #e0e0e0; 
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  padding-top: 60px;
}

.menu:hover + .sidebar,
.sidebar:hover {
  transform: translateX(0);
  
}

.sidebar ul {
  list-style: none;
  padding: 0 15px; 
  margin: 0;
}

.sidebar ul li {
  margin: 25px 0; 
}

.sidebar ul li a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #212121;
  font-weight: bold;
  font-size: 18px;
  padding: 12px;
  border: 1px solid #d0d0d0;
  border-radius: 6px;
  background-color: #e0e0e0;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.sidebar ul li a:hover {
  background-color: #d5d5d5; 
  color: #007b5e;
  border-color: #474747;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  width: 70%;
  height: 90%;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.form-container input {
  width: 90%;
  padding: 10px;
  margin: 10px auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: block;
}

.button-group {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.button-group button {
  padding: 12px 20px;
  background-color: #00796b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.button-group button:hover {
  background-color: #004d40;
}


.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 60px;
  box-shadow: 0 0 30px rgba(0,0,0,0.4);
  border-radius: 15px;
  text-align: center;
  font-size: 20px;
  display: none;
  z-index: 1000;
}

footer {
  position: fixed;
  bottom: 0;
  height: 40px;
  width: 100%; 
  background-color: #16a193;
  text-align: center; 
  padding: 10px 0; 
  font-family: Arial, sans-serif; 
  box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
  color: rgb(243, 236, 236);
        
} 
.footer-content a { 
  color: rgb(243, 236, 236);
  text-decoration: none; 
  padding: 60px;
} 
.footer-content a:hover { 
  text-decoration: underline; 
  color:white;
}

.dugme-zavrsi {
  padding: 12px 24px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.dugme-zavrsi:hover {
  background-color: #218838;
}
