.menu {
  position: fixed;
  top: 10px;
  left: 10px;
  background-color: #ccc;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 4px;
  z-index: 1000;
  font-size: 16px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 240px; 
  background-color: #e0e0e0; 
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  padding-top: 60px;
}

.menu:hover + .sidebar,
.sidebar:hover {
  transform: translateX(0);
  
}

.sidebar ul {
  list-style: none;
  padding: 0 15px; 
  margin: 0;
}

.sidebar ul li {
  margin: 25px 0; 
}

.sidebar ul li a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #212121;
  font-weight: bold;
  font-size: 18px;
  padding: 12px;
  border: 1px solid #d0d0d0;
  border-radius: 6px;
  background-color: #e0e0e0;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.sidebar ul li a:hover {
  background-color: #d5d5d5; 
  color: #007b5e;
  border-color: #474747;
}

body{
  margin: 0;
  padding: 0;
  position: relative;
  background-color: #f5f5f5;
 
}
footer {
  position: fixed;
  bottom: 0;
  height: 40px;
  width: 100%; 
  background-color: #16a193;
  text-align: center; 
  padding: 10px 0; 
  font-family: Arial, sans-serif; 
  box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
  color: rgb(243, 236, 236);
        
} 
.footer-content a { 
  color: rgb(243, 236, 236);
  text-decoration: none; 
  padding: 60px;
} 
.footer-content a:hover { 
  text-decoration: underline; 
  color:white;                                
}

#main {
    padding: 40px 20px;
    background-color: #f2f2f2;
}

.naslov {
    text-align: center;
    font-size: 32px;
    margin-bottom: 40px;
    color: #333;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 25px;
    max-width: 1200px;
    margin: 0 auto;
}

.kartica {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.2s ease;
}

.kartica:hover {
    transform: scale(1.03);
}

.kartica h3 {
    margin: 0;
    font-size: 22px;
    color: #007bff;
}

.kartica .info p {
    margin: 8px 0;
    font-size: 15px;
    color: #555;
}

button {
    margin-top: 15px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}