body{
    margin:0;
    padding:0;
    position:relative;
    background-color:#f5f5f5;
}
.menu{
    position:fixed;
    top:10px;
    left:10px;
    background-color:#ccc;
    padding:10px 15px;
    cursor:pointer;
    border-radius:4px;
    z-index:1000;
    font-size:16px;
}
.sidebar{
    position:fixed;
    top:0;
    left:0;
    height:100%;
    width:240px;
    background-color:#e0e0e0;
    transform:translateX(-100%);
    transition:transform 0.3s ease;
    padding-top:60px;
}
.menu:hover + .sidebar,.sidebar:hover{
    transform:translateX(0);
}
.sidebar ul{
    list-style:none;
    padding:0 15px;
    margin:0;
}
.sidebar ul li{
    margin:25px 0;
}
.sidebar ul li a{
    display:block;
    text-align:center;
    text-decoration:none;
    color:#212121;
    font-weight:bold;
    font-size:18px;
    padding:12px;
    border:1px solid #d0d0d0;
    border-radius:6px;
    background-color:#e0e0e0;
    transition:background-color 0.2s ease,color 0.2s ease;
}
.sidebar ul li a:hover{
    background-color:#d5d5d5;
    color:#007b5e;
    border-color:#474747;
}
.forma-voznja{
    width:70%;
    margin:70px auto;
    padding:20px;
    background:#fff;
    border:1px solid #ccc;
    border-radius:8px;
}
.gornji-blok{
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
}
.scroll-tabela{
    max-height:300px;
    overflow-y:auto;
    width:60%;
}
table{
    border-collapse:collapse;
    width:100%;
}
th{
    border:1px solid #ccc;
    padding:8px 12px;
    text-align:left;
    background-color:#054f48ff;
    color:white;
}
td{
    border:1px solid #ccc;
    padding:8px 12px;
    text-align:left;
}
.cena{
    width:35%;
    padding-left:20px;
}
.prijava{
    margin-top:30px;
    text-align:center;
}
select{
    padding:8px 12px;
    font-size:14px;
}
button{
    padding:12px 20px;
    background-color:#00796b;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
    font-size:16px;
}
button:hover{
    background-color:#004d40;
}
footer{
    position:fixed;
    bottom:0;
    height:40px;
    width:100%;
    background-color:#16a193;
    text-align:center;
    padding:10px 0;
    font-family:Arial,sans-serif;
    box-shadow:0 -2px 5px rgba(0,0,0,0.1);
    color:rgb(243,236,236);
}
.footer-content a{
    color:rgb(243,236,236);
    text-decoration:none;
    padding:60px;
}
.footer-content a:hover{
    text-decoration:underline;
    color:white;
}